@import '~bulma/sass/utilities/variables';

.recipe-add {
  min-height: 285px;
  height: 100%;
  border: thin dashed rgba($black, 0.3);
  opacity: 0.7;
  box-shadow: unset;
}

.recipe-add-content {
  height: 100%;
}

