.content-editable {
  &:focus {
    outline: none;
  }

  &:empty:before {
    content: attr(placeholder);
    display: block;
    width: 100%;
    opacity: 0.6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
