.detail-row {
  .detail-action {
    height: inherit;
    visibility: hidden;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &:hover {
    .detail-action {
      visibility: visible;
    }
  }
}
